@import "tailwindcss";

:root {
  --brand-primary: #4F46E5;
  --brand-dark: #1A1A2E;
}

body {
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
